<!DOCTYPE html>
<html>
  <head>
    <!-- Manejar las configuraciones de nuestro documento -->
    <title>My App Productos</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/header-footer.css" />
  </head>

  <body>
    <!-- Manejamos todo el contenido visible de nuestro documento -->
    <header>
      <h3>My App</h3>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main></main>

    <footer>
      <h3>My App</h3>
      <ul>
        <li><a href="#">facebook</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">linkedin</a></li>
      </ul>
    </footer>
  </body>
</html>
