<!DOCTYPE html>
<html>
  <head>
    <!-- Manejar las configuraciones de nuestro documento -->
    <title>My App Productos</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/header-footer.css" />
    <link rel="stylesheet" href="../../css/products-list.css" />
  </head>

  <body>
    <!-- Manejamos todo el contenido visible de nuestro documento -->
    <header>
      <h3>My App</h3>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="products">
        <h1>Nuestro productos</h1>
        <ul>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
          <li>
            <a href="/products/1">
              <img src="assets/car.jpg" alt="product image" />
              <h3>Producto 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis commodi maiores voluptas perspiciatis fugit!
                Deleniti.
              </p>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <h3>My App</h3>
      <ul>
        <li><a href="#">facebook</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">linkedin</a></li>
      </ul>
    </footer>
  </body>
</html>
