<!DOCTYPE html>
<html>
  <head>
    <!-- Manejar las configuraciones de nuestro documento -->
    <title>My App Productos</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/header-footer.css" />
  </head>

  <body>
    <!-- Manejamos todo el contenido visible de nuestro documento -->
    <%- include('../partials/header.ejs') %>

    <main>
      <h1><%= product.name %></h1>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
