<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Esta es mi primer página</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti
      laboriosam. Quia fugiat sit mollitia natus in laudantium odio a magni,
      alias distinctio dignissimos fuga magnam repellat animi itaque deleniti?
    </p>
  </body>
</html>
